/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	
	margin: 50px 0
}

.headnav{

	display: flex;
	justify-content: space-between;
	margin: 0;
}

.barreEdition {
	
    background-color: black;
    color: white;
	padding: 20px;
	margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
	display: none; /* La barre est initialement cachée */
}

.barreEdition  img{
	
  margin-right: 20px;
}



header a {
	display: flex;
	text-decoration: none;
	color: inherit;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.adminedit {

display: none;
width: 100%;

}


.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); 
  }
  
 
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888; 
	width: 50%; 
  }
  
  .close {
	color: #aaa; 
	float: right; 
	font-size: 28px; 
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black; 
	text-decoration: none; 
	cursor: pointer; 
  }


  #openModalBtn{

	display: none;
	flex-direction: row;
	background-color: transparent;
	align-items: center;
	justify-content: space-between; 
	border: none;
	width:2%; 
	height: 15px; 
	cursor: pointer; 
	outline: none; 
	margin-top: 10px;
  
  }

  #openModalBtn img{

	margin-right: 5px;
  
  }

#ModProj {

	display: flex;
	justify-content: center;
}

#ModProj h2{

	margin-right: 20px;

}

#prevButton {

    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px; 
}

.modal-content2 {
	
	
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888; 
	width: 50%;
	display: none;
}


.modal-content2 label{
	
	margin: auto; 
	
}

#imagePreview {
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
	display: none;
  }
  
  #imagePreview p {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
  }

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}



.gallery img {
	width: 100%;

}

#step1{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#step1 img{
	width: 100%;

}

#step1 figure{

	width: 80%;
}

#step1 figure button {
	position: absolute;
	top: 5px; 
	right: 5px; 
	width: 25px; 
	height: 25px; 
	background-color: black;
	border: none; 
	cursor: pointer;
	border-radius: 5px; 

}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
	margin-right: 20px; 

}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover {
    cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#logout{

	display: none;
}


/* filtre  */

.filter-buttons {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
	justify-content: center;

}

.filter-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    display: flex;
    border: solid #D9D9D9 2px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    background-color: white;
	color : #1D6154;
	border-color: #1D6154;
}

.filter-buttons button:hover {
    background-color: #1D6154;
	color: white;
}

.filter-buttons button:active {
    background-color: #1D6154;
	color: white;
}

.ModalForm {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
	justify-content: center;

}

.ModalForm button {
    padding: 10px 20px;
    margin-right: 10px;
    display: flex;
    border: solid #D9D9D9 2px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
	color : white;
	border-color: #1D6154;
	background-color:  #1D6154 ;
}

#ModalFormBtn{
	margin-top: 20px;
display: flex;
justify-content: center;
width: 60%;
height: 50px;
text-align: center;

}


#ModalFormBtn2{
	margin-top: 20px;
display: flex;
justify-content: center;
width: 60%;
height: 50px;
text-align: center;

}


.formnewproj{

	display: flex;
	flex-direction: column;
	text-align: left;
	
}

.formnewproj h3{

	margin-top: 10px;
	margin-bottom: 10px;
	
}



.labeltext  h3{
	font-family: 'Work Sans';
	font-size: 15px;
	line-height: 16.42px;
	margin-top: 40px;
	margin-bottom: 15px;
}

#texte
{
	width: 99.1%;
	height: 51px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: transparent;	
}

#listcat {

	width: 100%;
	height: 51px;
	border: transparent;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	
}

#Addphotocontent{

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #E8F1F6;
	text-align: center;
	align-items: center;
	margin: 10px;
	padding: 20px;
	
	}


	#Addphotocontent img	{

	width: 20%;
		
		}

 

.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload #file-label {

    padding: 10px 20px;
    margin: 10px;
    display: flex;
    border: solid #D9D9D9 2px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
	justify-content: center;
	color :#306685;
	border-color: #CBD6DC;
	background-color:  #CBD6DC; 
}
